{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>QCcop</title>
    
        <!-- Bootstrap -->
        {% comment %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
        {% endcomment %}
        <link href="{% static "css/custom.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/dataTables.bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">QCcop</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profiles/">Profiles</a></li>
                                <!--
                                <li><a href="/sources/">Sources</a></li>
                                <li><a href="#">-</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">-</a></li>
                                -->
                            </ul>
                        </li>
                        
                        
                        <li><a href="#" data-toggle="modal" data-target="#ModalAbout">About...</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        
<div class="modal fade" id="ModalAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
      </div>
      <div class="modal-body">
        <h3><strong>QCcop</strong>&nbsp;&nbsp;<small>just another file based QC tool</small></h3>
        <p style="margin-top:25px;">Copyright (C) 2015-2016  Willians Vivanco &#60; williansvi (at) gmail (dot) com &#62;</p>
        <p>This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
        <p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.</p>
        <p>You should have received a copy of the GNU General Public License along with this program.  If not, see <a href="http://www.gnu.org/licenses" target="_blank">http://www.gnu.org/licenses</a>.</p>
        <hr/>
        <p><img src="{% static 'img/logos-marquee.png' %}" /></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        

        
        <div class="container" style="margin-top: 70px;">
            
            <nav class="navbar navbar-inverse" style="background-color:#36454f;">
            
                <div class="container-fluid">
                    
{% block topbar %}
{% endblock %}
                
                </div>
            
            </nav>
            
        </div>
        
        
        
        <div class="container" style="margin-bottom:75px;">
            
{% block content %}
{% endblock %}

        </div>
        
        
        
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                {% comment %}<a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" /></a>{% endcomment %}
                <p class="navbar-text pull-right">Just Another File Based QC Tool</p>
            </div>
        </nav>
        
        {% comment %}
        
        <script type="text/javascript" src='https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js'></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('#example').DataTable({
                    "searching": false,
                    "pagingType": "numbers",
                    "lengthMenu": [ 5, 10 ],
                    "columnDefs": [
                        { "orderable": false, "targets": [ 1, 2 ] }
                    ]
                });
            });
        </script>
        
        {% endcomment %}
    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
        
{% block javascript %}
{% endblock %}

    </body>
</html>
