{% extends "base.html" %}

{% block topbar %}

                    <h4 class="navbar-text" style="margin-left:0px; color: #eee;" href="#">Dashboard</h4>

{% endblock %}

{% block content %}
            
            <div class="row">
                <div class="col-md-12">
                    <h4 style="margin-bottom:13px;">In process</h4>
                    <table id="table-pendants" class="table table-striped" style="margin-bottom:50px;">
                        <thead style="background-color:#536878; color:#fcfcfc; border-bottom: solid 3px #36454f;">
                            <tr>
                                <th>Material</th>
                                <th>Current status</th>
                                <th>From</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
                        
                        
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12">
                    <h4 style="margin-bottom:13px;">Last 10 materials processed&nbsp;&nbsp;<small><a href="{% url 'material-list' %}">(See all)</a></small></h4>
                    <table id="table-processed" class="table table-striped" data-title="Processed">
                        <thead style="background-color:#536878; color:#fcfcfc; border-bottom: solid 3px #36454f;">
                            <tr>
                                <th data-column-id="material">Material</th>
                                <th data-column-id="qc-result">QC result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for processed_mat in processed_mats %}
                            <tr>
                                <td><a href="/material/{{ processed_mat.pk }}/">{{ processed_mat.name }}</a></td>
                                <td>
                                    <a href="#"><span class="label label-success">{{ QCs|random }}</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    
    function LoadPendantMaterials() {
        
        $.ajax({
            url: '{% url "ajax-getpendants" %}',
            type: 'GET',
            dataType:'json',
            data: {},
            success: function(data) {
                
                pendantMaterials = "";
                
                if (data.length > 0) {
                    $.each(data, function(index, item) {
                        
                        pendantMaterials += "<tr>"
                        pendantMaterials += "<td>" + item.name + "</option></td>"
                        pendantMaterials += "<td>" + item.status + "</td>"
                        pendantMaterials += "<td>" + item.server_from + "</option></td>"
                        pendantMaterials += "</tr>"
                    })
                } else {
                    pendantMaterials += "<tr><td colspan=3 style=\"text-align:center;\"><em class=\"text-muted\">No materials queued...</em></td></tr>"
                }
                
                $('#table-pendants tbody').html(pendantMaterials);
                
            }
            
        });
        
    };

    $(document).ready(function() {
        
        LoadPendantMaterials();
    });
    
    setInterval(LoadPendantMaterials, 4000);

</script>
{% endblock %}
