{% extends "base.html" %}

{% block topbar %}

                    <h4 class="navbar-text" style="margin-left:0px; color: #eee;" href="#">QC resume for <strong>{{ material|truncatechars_html:30 }}</strong></h4>

{% endblock %}

{% block content %}
            
            <div class="row" style="margin-bottom:50px;">
                <div class="col-md-7">
                    <p>{{ material }}</p>
                    
                    {% regroup qcvariables by track_count as tracks_list %}
                    
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        
                        {% for track in tracks_list %}
                        
                        <div class="panel panel-default">
                            <a role="button" {% if not forloop.first %}class="collapsed"{% endif %} data-toggle="collapse" data-parent="#accordion" href="#collapse{{ track.grouper }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ track.grouper }}">
                                <div class="panel-heading" role="tab" id="heading{{ track.grouper }}" style="background: #536878; color: #fcfcfc; border-bottom: solid 3px #36454f;">
                                    <h4 class="panel-title">
                                        {% with track.list.0.variable.tracktype.name as tracktype %}
                                            {% if tracktype == "General" %}
                                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ tracktype }}
                                            {% elif tracktype == "Video" %}
                                                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ tracktype }}
                                            {% elif tracktype == "Audio" %}
                                                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ tracktype }} 
                                            {% elif tracktype == "Other" %}
                                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ tracktype }}
                                            {% else %}
                                                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ tracktype }}
                                            {% endif %}
                                        {% endwith %}
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse{{ track.grouper }}" class="panel-collapse collapse{% if forloop.first %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{ track.grouper }}">
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>Tag</th>
                                            <th>Value</th>
                                        </thead>
                                        <tbody>
                                            {% for variable in track.list %}
                                            <tr>
                                                <td>{{ variable.variable.name }}</td>
                                                <td>{{ variable.custom_value }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                        
                    </div>
                    
                </div>
                
                <div class="col-md-5">
                    <div class="well well-sm" style="margin-top:31px;">
                        {% for profile in profiles %}
                            <h4><span class="label label-default">{{ profile.name }}</span><button class="btn btn-link btn-sm" type="submit"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span></button></h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                        
                        <small class="text-muted">Only <strong>required</strong> profile tags included in percentages calculation...</small>
                </div>
            </div>
            
{% endblock %}
