{% extends "base.html" %}

{% block topbar %}

                    <h4 class="navbar-text" style="margin-left:0px; color: #eee;" href="#">Materials list</h4>

{% endblock %}

{% block content %}

            <div class="row" style="margin-top:20px;">
                <div class="col-md-12">
                    <!-- <h4 style="margin-bottom:13px;">Last 10 materials processed&nbsp;&nbsp;<small><a href="#">(See all)</a></small></h4> -->
                    <table id="table-processed" class="table table-striped" data-title="Processed">
                        <thead style="background-color:#536878; color:#fcfcfc; border-bottom: solid 3px #36454f;">
                            <tr>
                                <th data-column-id="material">Material</th>
                                <th data-column-id="qc-result">QC result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for processed_mat in processed_mats %}
                            <tr>
                                <td><a href="/material/{{ processed_mat.pk }}/">{{ processed_mat.name }}</a></td>
                                <td>
                                    <a href="#"><span class="label label-success">{{ QCs|random }}</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    
    $(document).ready(function() {
        $('#table-processed').DataTable({
            "lengthChange": false,
            "pageLength": 15,
            "fixedHeader": true,
            "order": [],
            "dom": '<"toolbar">frtip'
        });
        $("div.toolbar").html('<h4 style="float:left; margin-top:7px; margin-bottom:0px;">Materials processed</h4>');
    });
    
    

</script>
{% endblock %}
