{% extends "base.html" %}

{% block topbar %}

                    <h4 class="navbar-text" style="margin-left:0px; color: #eee;" href="#">Profiles</h4>
                    <button type="button" class="btn btn-default btn-sm navbar-btn navbar-right" data-toggle="modal" data-target="#myModal" style="margin-right:0px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;New...</button>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">New profile</h4>
                                </div>
                                <form class="form-horizontal" style="margin-top:15px;" action="/profiles/edit/" method="post">
                                {% csrf_token %}
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label for="profile" class="col-sm-3 control-label">Profile name<span style="color:red;"> * </span>:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="profile" class="form-control">
                                                </div>
                                                <div class="col-sm-1"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Tags values<span style="color:red;"> * </span>:</label>
                                                <div class="col-sm-8">
                                                    <div class="radio">
                                                        <div class="col-sm-4">
                                                            <input type="radio" name="variables" id="profilevalues1" value="manual" checked> Manually
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <input type="radio" name="variables" id="profilevalues2" value="fromfile" disabled> From file <small class="text-muted">(Soon)</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="profile" class="col-sm-3 control-label">Description:</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" rows="3"></textarea>
                                                </div>
                                                <div class="col-sm-1"></div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Create">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

{% endblock %}

{% block content %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Profile</th>
                        <th>Actions</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                        <tr>
                            <td>{{ profile.name }}</td>
                            <td><a href="/profiles/edit/?p={{ profile.hashid }}">Edit</a></td>
                            <td>Enabled</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


{% endblock %}
