{% extends "base.html" %}

{% block topbar %}

                    <h4 class="navbar-text" style="margin-left:0px; color: #eee;" href="#">Edit profile <strong>{{ profile.name }}</strong></h4>
                    <div class=" navbar-right" style="margin-right:0px;">
                    <a href="/profiles/" class="btn btn-link btn-sm">Back to profiles</a>
                    <a href="#" class="btn btn-default btn-sm navbar-btn"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;Help</a>
                    </div>

{% endblock %}

{% block content %}

            <div class="row" style="margin-top:15px; margin-bottom:25px;">
                
                {{ form.profile }}
                
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="id_tracktype">Tracktype:</label>
                        <select id="id_tracktype" class="form-control" name="tracktype">
                        </select>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.variable.label_tag }}
                        {{ form.variable }}
                    </div>
                </div>
                
                <div class="col-md-1">
                    <div class="form-group">
                        {{ form.relationship.label_tag }}
                        {{ form.relationship }}
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.value.label_tag }}
                        {{ form.value }}
                    </div>
                </div>
                
                
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.importance.label_tag }}
                        {{ form.importance }}
                    </div>
                </div>
                
                <div class="col-md-1" style="padding-left:13px;">
                    <div class="form-group" style="padding-top:26px;">
                        <button type="button" class="btn btn-primary" id="addProfileVar">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add
                        </button>
                    </div>
                </div>
                
                <input type="hidden" id="profile_id" value="{{ profile.hashid }}">
            
            </div>
            
            <hr/>
            
            <div class="row">
                
                <div class="col-md-4">
                    
                    <label style="margin-top:8px;">Profile description</label>
                    
                    <div class="well" style="margin-top:3px;">
                        {% lorem %}
                    </div>
                    
                </div>
                
                <div class="col-md-8">
                    
                    <table class="table table-striped" id="profilevars" style="min-height:200px;">
                        <thead>
                            <tr>
                                <th class="col-md-5">Tag</th>
                                <th class="col-md-5">Related value</th>
                                <th class="col-md-2" style="text-align:right;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if profilevars|length > 0 %}
                                {% for profilevar in profilevars %}
                                    <tr>
                                        {% if profilevar.tracktype.name == "General" %}
                                            <td><span title="General" class="glyphicon glyphicon-cog tracktype" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ profilevar.variable }}</td>
                                        {% elif profilevar.tracktype.name == "Video" %}
                                            <td><span title="Video" class="glyphicon glyphicon-film tracktype" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ profilevar.variable }}</td>
                                        {% elif profilevar.tracktype.name == "Audio" %}
                                            <td><span title="Audio" class="glyphicon glyphicon-music tracktype" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ profilevar.variable }}</td>
                                        {% else %}
                                            <td><span title="Other" class="glyphicon glyphicon-paperclip tracktype" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ profilevar.variable }}</td>
                                        {% endif %}
                                        <td>{{ profilevar.relationship }}&nbsp;&nbsp;{{ profilevar.value }}</td>
                                        <td style="padding-top:3px; padding-bottom:3px">
                                            <button type="button" class="btn btn-link btn-sm pull-right" style="padding-left:3px; padding-right:3px;" data-toggle="modal" data-target="#varDelConfirm" data-profilevar_id="{{ profilevar.pk }}" data-profilevar_name="{{ profilevar.variable.name }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                            <!-- <button type="button" class="btn btn-link btn-sm pull-right" data-toggle="modal" data-target="#varDelConfirm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button> -->
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan=3 style="padding:15px auto;"><h5><em class="text-muted">Profile {{ profile.name }} is disabled by not having defined variables...</em></h5></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    
                    <hr style="margin-top:75px;"/>
                    
                    <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#profileDelConfirm" data-profile_id="{{ profile.pk }}" data-profile_name="{{ profile.name }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;Delete profile {{ profile.name }}</button>
                    
                </div>
            
            </div>
            
            
            
            <!-- Tag deletion confirm modal -->
            
            <div class="modal fade" id="varDelConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-alert" aria-hidden="true" style="color:#AC2925;"></span>&nbsp;&nbsp;&nbsp;Confirm deletion</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete tag <strong id="tagname"></strong> from current profile?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" id="del-confirm" data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <!-- Profile deletion confirm modal -->
            
            <div class="modal fade" id="profileDelConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-alert" aria-hidden="true" style="color:#AC2925;"></span>&nbsp;&nbsp;&nbsp;Confirm deletion</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete profile <strong id="profilename">{{ profile.name }}</strong>?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <!-- <button type="button" class="btn btn-danger" id="del-confirm" data-dismiss="modal">Delete</button> -->
                            <a class="btn btn-danger" href="{% url 'ajax-delprofile' %}?hashid={{ profile.hashid }}" role="button">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}

{% block javascript %}

        <script type="text/javascript">
            
            $(".tracktype").tooltip({
                placement: "left"
            });
            
            function resetProfileVarsForm() {
                var tracktypeOpts = '<option selected="selected" value="">---------</option>';
                {% for tracktype in tracktypes %}
                    tracktypeOpts += '<option value="{{ tracktype.pk }}">{{ tracktype.name }}</option>';
                {% endfor %}
                $('#id_tracktype').html(tracktypeOpts);
                $('#id_variable').empty();
                $('#id_variable').attr('disabled', 'disabled');
                $('#id_relationship').attr('disabled', 'disabled');
                $('#id_value').val('');
                $('#id_value').attr('disabled', 'disabled');
                $('#id_importance').attr('disabled', 'disabled');
            };
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////
            
            function loadTrackAvailableTags() {
                var pro = $('#profile_id').val();
                if( $('#id_tracktype').val() ) {
                    var id = $('#id_tracktype').val();
                    $.ajax({
                        url: '{% url "ajax-gettags" %}',
                        type: 'GET',
                        dataType:'json',
                        data: {
                            ttype: id,
                            profile: pro
                        },
                        success: function(data) {
                            tagsOptions = "";
                            tagsOptions += '<option selected="selected" value="">---------</option>'
                            $.each(data, function(index, item) {
                                tagsOptions += "<option value=" + item.pk + ">" + item.fields.name + "</option>"
                            })
                        $('#id_variable').html(tagsOptions);
                        $('#id_variable').removeAttr('disabled');
                        }
                    });
                } else {
                    resetProfileVarsForm();
                };
            };
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////
            
            function updateTagsList(datos) {
                profileTags = "";
                if (datos.length > 0) {
                    $.each(datos, function(index, item) {
                        profileTags += '<tr>'
                        if (item[2] == 1) {
                            profileTags += '<td><span title="General" class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;' + item[3] +'</td>'
                        } else if (item[2] == 2) {
                            profileTags += '<td><span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;' + item[3] +'</td>'
                        } else if (item[2] == 3) {
                            profileTags += '<td><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;' + item[3] +'</td>'
                        } else {
                            profileTags += '<td><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;' + item[3] +'</td>'
                        }
                        if (item[6] == "req") {
                            profileTags += '<td>' + item[5] + '&nbsp;&nbsp;' + item[4] + '</td>'
                        } else if (item[6] == "inf") {
                            profileTags += '<td>' + item[5] + '&nbsp;&nbsp;' + item[4] + '</td>'
                        }
                        profileTags += '<td style="padding-top:3px; padding-bottom:3px">'
                        profileTags += '<button type="button" class="btn btn-link btn-sm pull-right" style="padding-left:3px; padding-right:3px;" data-toggle="modal" data-target="#varDelConfirm" data-profilevar_id="' + item[0] + '" data-profilevar_name="' + item[3] + '"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>'
                        <!-- profileTags += '<button type="button" class="btn btn-link btn-sm pull-right" data-toggle="modal" data-target="#varDelConfirm" data-profile="' + item[0] + '"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>' -->
                        profileTags += '</td>'
                        profileTags += '</tr>'
                    });
                    $("#profilevars").addClass('table-striped');
                } else {
                    profileTags += '<tr>'
                    profileTags += '<td colspan=3 style="padding:15px auto;"><h5><em class="text-muted">Profile {{ profile.name }} is disabled by not having defined variables...</em></h5></td>'
                    profileTags += '<tr>'
                    $("#profilevars").removeClass('table-striped');
                }
                $("#profilevars tbody").html(profileTags);
            };
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////
            
            $(document).ready(function() {
                resetProfileVarsForm();
                $('#id_profile').val('{{ profile.hashid }}');
                $('#id_variable').change(function() {
                    if ( $(this).val() ) {
                        $('#id_relationship').removeAttr('disabled');
                        $('#id_value').removeAttr('disabled');
                        $('#id_importance').removeAttr('disabled');
                    } else {
                        $('#id_relationship').attr('disabled', 'disabled');
                        $('#id_value').val('');
                        $('#id_value').attr('disabled', 'disabled');
                        $('#id_importance').attr('disabled', 'disabled');
                    }
                })
            });
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////
            
            $('#id_tracktype').change(loadTrackAvailableTags);
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////
            
            $('#addProfileVar').click(function(){
                var tra = $('#id_tracktype').val();
                var tag = $('#id_variable').val();
                var rel = $('#id_relationship').val();
                var val = $('#id_value').val();
                var imp = $('#id_importance').val();
                var pro = $('#id_profile').val();
                $.ajax({
                    url: '{% url "ajax-addtag" %}',
                    type: 'GET',
                    dataType:'json',
                    data: {
                        profile: pro,
                        track: tra,
                        tag: tag,
                        rel: rel,
                        val: val,
                        imp: imp
                    },
                    success: function(data) {
                        updateTagsList(data);
                        resetProfileVarsForm();
                    },
                });
                
            });
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////
            
            $('#varDelConfirm').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var profile_id = button.data('profilevar_id')
                var profile_name = button.data('profilevar_name')
                var modal = $(this)
                
                modal.find('.modal-body #tagname').html(profile_name)
                modal.find('.modal-footer #del-confirm').val(profile_id)
            })
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////
            
            $('#varDelConfirm').on('click', '#del-confirm', function(){
                var id = $(this).val();
                var pro = $('#id_profile').val();
                $.ajax({
                    url: '{% url "ajax-deltag" %}',
                    type: 'GET',
                    dataType:'json',
                    data: {
                        profile: pro,
                        tag: id
                    },
                    success: function(data) {
                        updateTagsList(data);
                        resetProfileVarsForm();
                    },
                });
            });
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////
            
            $('#profileDelConfirm').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var profile_id = button.data('profile_id')
                var profile_name = button.data('profile_name')
                var modal = $(this)
                
                modal.find('.modal-body #profilename').html(profile_name)
                modal.find('.modal-footer #del-confirm').val(profile_id)
            })
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////
            
            $('#profilerDelConfirm').on('click', '#del-confirm', function(){
                var id = $(this).val();
                var pro = $('#id_profile').val();
                $.ajax({
                    url: '{% url "ajax-delprofile" %}',
                    type: 'GET',
                    dataType:'json',
                    data: {
                        profile: pro,
                        tag: id
                    },
                    success: function(data) {
                        //
                    },
                });
            });
            
        </script>

{% endblock %}
