{% extends "base.html" %}

{% block topbar %}

                    <h4 class="navbar-text" style="margin-left:0px; color: #eee;" href="#">Sources</h4>
                    <a href="#" class="btn btn-default btn-sm navbar-btn navbar-right" style="margin-right:0px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;New...</a>

{% endblock %}

{% block content %}

            

{% endblock %}
